<div class="software-groups">
  <div class="proficiency-group">
    <div class="group-header">
      <h3>Software</h3>
    </div>
    <ul>
      <li>Maya</li>
      <li>Houdini Solaris</li>
      <li>Arnold</li>
      <li>vRay</li>
      <li>Substance Painter</li>
      <li>Substance Designer</li>
      <li>Photoshop</li>
      <li>SpeedTree</li>
      <li>Mari</li>
      <li>PTGui</li>
      <li>zBrush</li>
      <li>Nuke</li>
      <li>ShotGrid</li>
    </ul>
  </div>
  <div class="proficiency-group">
    <div class="group-header">
      <h3>3D</h3>
    </div>
    <ul>
      <li>Modelling</li>
      <li>Texturing</li>
      <li>Shading</li>
      <li>Lighting</li>
      <li>Rendering</li>
      <li>Animation</li>
      <li>Pre-visualisation</li>
    </ul>
  </div>
</div> 