<h1>About Me</h1>
<p>My name is Megan McLean and I am a 3D Generalist based in London, UK.</p>
<p>
  Currently I'm working at Absolute Post as a CG Generalist, working on TV and
  online advertising campaigns. I have previously worked at Saddington Baynes as
  a 3D Artist working on creative, product and automotive projects working on a
  mixture of stills and animations. I studied Visual Effects at the University
  of Bolton and I graduated with first class honours.
</p>

<h2>Main Skills</h2>
<ul>
  <li>3D Modelling</li>
  <li>Texturing</li>
  <li>Lighting</li>
  <li>Rendering</li>
  <li>Compositing</li>
</ul>

<h2>Software</h2>

<h3>High</h3>
<ul>
  <li>Maya</li>
  <li>V-Ray</li>
  <li>Arnold</li>
  <li>Substance Painter</li>
  <li>Adobe Photoshop</li>
</ul>

<h3>Medium</h3>
<ul>
  <li>Mari</li>
  <li>zBrush</li>
  <li>Substance Designer</li>
  <li>Houdini (lighting and rendering only)</li>
  <li>PTGui</li>
</ul>

<h3>Additional</h3>
<ul>
  <li>NukeX</li>
  <li>Speedtree</li>
</ul>

<h2>Work</h2>
<p>Absolute Post 2022 - Present</p>
<p>June 2022 - Present</p>
<p>CG Generalist</p>

<p>Saddington Baynes </p>
<p>May 2017 - June 2022</p>
<p>Mid-level 3D Artist</p>

<p>Saddington Baynes </p>
<p>Feburary 2015 - April 2017</p>
<p>Junior 3D Artist</p>

<h2>Education</h2>
<p>University of Bolton 2011 - 2014</p>
<p>Special Effects Development BSc</p>
<p>First Class Honours</p>

<p>Cheadle and Marple Sixth Forth College 2009 - 2011</p>
<p>
  A-Level Media Studies and Physics, AS-Level Chemistry, Film Studies and Use of
  Maths
</p>

<h2>Credits</h2>
<p>2017</p>
<p>3D Artist Magazine, Issue 115 - "Wonder Women" feature</p>

<p>2014</p>
<p>Texture Artist - Monsters: Dark Continent</p>
