<div class="about-container">
  <h1>About Me</h1>
  <section class="section">
    <div class="bio">
      <p>Hi! My name is Megan McLean and I am a Senior CG Generalist based in London, UK.
      </p>
      <p>
        I have been working for almost 10 years as a CG Artist, currently working at Absolute Post. 
        My work is primarily in commercials, with experience in creative, product and automotive animations and stills, 
        and I have also got experience working in Film and TV.
      </p>
    </div>
  </section>
  <section class="section">
    <h2>Software</h2>
    <div class="software-groups">
      <div class="proficiency-group">
        <div class="group-header">
          <h3>Skills</h3>
        </div>
        <ul>
          <li>Maya</li>
          <li>Arnold</li>
          <li>vRay</li>
          <li>Substance Painter</li>
          <li>Substance Designer</li>
          <li>Photoshop</li>
          <li>Substance Designer</li>
          <li>PTGui</li>
          <li>zBrush </li>
          <li>Nuke</li>
          <li>Houdini Solaris</li>
          <li>Mari</li>
          <li>PFTrack</li>
          <li>SpeedTree</li>
          <li>ShotGrid</li>
        </ul>
      </div>
      <div class="proficiency-group">
        <div class="group-header">
          <h3>3D</h3>
        </div>
        <ul>
          <li>Modelling</li>
          <li>Texturing</li>
          <li>Shading</li>
          <li>Lighting</li>
          <li>Rendering</li>
          <li>Animation</li>
          <li>Pre-visualisation</li>
          <li>Tracking</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <h2>Work</h2>
    <div class="timeline">
      <ol class="list">
        <li>
          <app-timeline-entry
            [datePeriodText]="'June 2022 — present'"
            [headerText]="'CG Generalist · Absolute Post'"
            [dateWidth]="150"
          >
          </app-timeline-entry>
        </li>
        <li>
          <app-timeline-entry
            [datePeriodText]="'May 2017 — June 2022'"
            [headerText]="'Mid-level 3D Artist · Saddington Baynes'"
            [dateWidth]="150"
          >
          </app-timeline-entry>
        </li>
        <li>
          <app-timeline-entry
            [datePeriodText]="'Feb 2015 — April 2017'"
            [headerText]="'Junior 3D Artist · Saddington Baynes'"
            [dateWidth]="150"
          >
          </app-timeline-entry>
        </li>
      </ol>
    </div>
  </section>

  <section class="section">
    <h2>Education</h2>
    <div class="timeline">
      <ol class="list">
        <li>
          <app-timeline-entry
            [datePeriodText]="'2011 — 2014'"
            [headerText]="
              'Special Effects Development BSc · University of Bolton'
            "
            [subheader]="'First Class Honours'"
            [dateWidth]="80"
          >
          </app-timeline-entry>
        </li>
        <li>
          <app-timeline-entry
            [datePeriodText]="'2009 — 2011'"
            [headerText]="
              'Special Effects Development BSc · Cheadle and Marple Sixth Forth College'
            "
            [subheader]="
              'A-Level Media Studies and Physics, AS-Level Chemistry, Film Studies and Use of Maths'
            "
            [dateWidth]="80" 
          >
          </app-timeline-entry>
        </li>
      </ol>
    </div>
  </section>
</div>
