<div class="about-container">
  <h1>About Me</h1>
  <section class="section">
    <div class="bio">
      <p>My name is Megan McLean and I am a 3D Generalist based in London, UK.</p>
      <p>
        Currently I'm working at Absolute Post as a CG Generalist, working on TV
        and online advertising campaigns. I have previously worked at Saddington
        Baynes as a 3D Artist working on creative, product and automotive projects
        working on a mixture of stills and animations. I studied Visual Effects at
        the University of Bolton and I graduated with first class honours.
      </p>
    </div>
    
  </section>
  <section class="section">
    <h2>Main Skills</h2>

    <div class="skills-group">
      <ul>
        <li>
          <div class="tag"><span>3D Modelling</span></div>
        </li>
        <li>
          <div class="tag"><span>Texturing</span></div>
        </li>
        <li>
          <div class="tag"><span>Lighting</span></div>
        </li>
        <li>
          <div class="tag"><span>Rendering</span></div>
        </li>
        <li>
          <div class="tag"><span>Compositing</span></div>
        </li>
      </ul>
    </div>
  </section>

  <section class="section">
    <h2>Software</h2>
    <div class="software-groups">
      <div class="proficiency-group">
        <div class="group-header">
          <h3>High</h3>
        </div>
        <ul>
          <li>Maya</li>
          <li>zBrush</li>
          <li>Substance Designer</li>
          <li>Houdini</li>
          <li>PTGui</li>
        </ul>
      </div>
      <div class="proficiency-group">
        <div class="group-header">
          <h3>Mid</h3>
        </div>
        <ul>
          <li>Mari</li>
          <li>zBrush</li>
          <li>Substance Designer</li>
          <li>Houdini (lighting and rendering only)</li>
          <li>PTGui</li>
        </ul>
      </div>
      <div class="proficiency-group">
        <div class="group-header">
          <h3>Additional</h3>
        </div>
        <ul>
          <li>NukeX</li>
          <li>Speedtree</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <h2>Work</h2>
    <div class="timeline">
      <ol class="list">
        <li>
          <app-timeline-entry
            [datePeriodText]="'June 2022 — present'"
            [headerText]="'CG Generalist · Absolute Post'"
            [dateWidth]="150"
          >
          </app-timeline-entry>
        </li>
        <li>
          <app-timeline-entry
            [datePeriodText]="'May 2017 — June 2022'"
            [headerText]="'Mid-level 3D Artist · Saddington Baynes'"
            [dateWidth]="150"
          >
          </app-timeline-entry>
        </li>
        <li>
          <app-timeline-entry
            [datePeriodText]="'Feb 2015 — April 2017'"
            [headerText]="'Junior 3D Artist · Saddington Baynes'"
            [dateWidth]="150"
          >
          </app-timeline-entry>
        </li>
      </ol>
    </div>
  </section>

  <section class="section">
    <h2>Education</h2>
    <div class="timeline">
      <ol class="list">
        <li>
          <app-timeline-entry
            [datePeriodText]="'2011 — 2014'"
            [headerText]="
              'Special Effects Development BSc · University of Bolton'
            "
            [subheader]="'First Class Honours'"
            [dateWidth]="80"
          >
          </app-timeline-entry>
        </li>
        <li>
          <app-timeline-entry
            [datePeriodText]="'2009 — 2011'"
            [headerText]="
              'Special Effects Development BSc · Cheadle and Marple Sixth Forth College'
            "
            [subheader]="
              'A-Level Media Studies and Physics, AS-Level Chemistry, Film Studies and Use of Maths'
            "
            [dateWidth]="80" 
          >
          </app-timeline-entry>
        </li>
      </ol>
    </div>
  </section>

  <section class="section">
    <h2>Credits</h2>
    <div class="timeline">
      <ol class="list">
        <li>
          <app-timeline-entry
            [datePeriodText]="'2017'"
            [headerText]="
              'Wonder Women feature · 3D Artist Magazine, Issue 115'
            "
            [dateWidth]="50"
          >
          </app-timeline-entry>
        </li>
        <li>
          <app-timeline-entry
            [datePeriodText]="'2014'"
            [headerText]="'Monsters: Dark Continent'"
            [dateWidth]="50"
          >
          </app-timeline-entry>
        </li>
      </ol>
    </div>
  </section>
</div>
