@import "../../styles/variables.scss";

$icon-border-color: #f5c7c4;

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 40px;
  }

  .label {
    font-size: 1.5em;
    margin: 24px 0;
  }

  .email-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .label {
      text-align: center;
    }

    .email {
      font-size: 2.5rem;
      margin: 20px 0;
      color: $primary-text-color;

      p {
        color: $primary-text-color;
      }

      &:hover {
        color: $link-color;

        p {
          color: $link-color;
        }
      }

      @media screen and (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }

  .links-container {
    display: flex;
    flex-direction: column;

    .label {
      text-align: center;
    }

    ul {
      padding: 0;
    }

    .social-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        display: inline-block;
        padding: 5px;
      }

      a {
        display: flex;
        background: transparent;
        font-size: 30px;
        color: $icon-color;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: $icon-border-color 2px solid;
        transition: transform 0.5s;

        i {
          transition: transform 0.5s;
        }

        &:hover {
          transform: translateY(2px);
          color: $icon-highlight-color;
          border-color: $icon-highlight-color;

          i {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
