@use "sass:map";
@use '@angular/material' as mat;

@import 'variables';
@import 'fonts';

//Define a custom palette.
$mclean-palette: (
  50: #f7e7e9,
  100: #cf8d89,
  200: #cf8d89,
  300: #b9645e,
  400: #bb463a,
  500: #ba341e,
  600: #ad2c1e,
  700: #9d2419,
  800: #911d13,
  900: #831206,
  A100: #f7e7e9,
  A200: #cf8d89,
  A400: #bb463a,
  A700: #9d2419,
  contrast: (
    50: $primary-text-color,
    100: $primary-text-color,
    200: $primary-text-color,
    300: $primary-text-color,
    400: $primary-text-color,
    500: $primary-text-color,
    600: $primary-text-color,
    700: $primary-text-color,
    800: $primary-text-color,
    900: $primary-text-color,
    A100: $primary-text-color,
    A200: $primary-text-color,
    A400: $primary-text-color,
    A700: $primary-text-color,
  )
);

// Define the theme.
$primary: mat.define-palette($mclean-palette, 300, 600, A700);

$mclean-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: mat.define-palette(mat.$blue-grey-palette, 500),
    typography: $typography
  )
));

// Set custom background color
$custom-background: map-get($mclean-theme, 'background');
$custom-background: map_merge($custom-background, ('background': $background-color));
$color-map: map.get($mclean-theme, 'color');
$modified-color-map: map.merge($color-map, ('background': $custom-background));
$mclean-theme: map.merge($mclean-theme, ('color': $modified-color-map));



@function my-mat-light-theme-foreground($color) {
    @return (
        base:              $color,
        divider:           $color,
        dividers:          $color,
        disabled:          rgba($color, 0.38),
        disabled-button:   rgba($color, 0.38),
        disabled-text:     rgba($color, 0.38),
        hint-text:         rgba($color, 0.38),
        secondary-text:    rgba($color, 0.54),
        icon:              rgba($color, 0.54),
        icons:             rgba($color, 0.54),
        text:              rgba($color, 0.87),
        slider-off:        rgba($color, 0.26),
        slider-off-active: rgba($color, 0.38),
        slider-min:        rgba($color, 0.38)
    );
};

$white-foreground: my-mat-light-theme-foreground(white);
$mclean-theme: map-merge($mclean-theme, (foreground: $white-foreground));

@debug $mclean-theme;

// Include all theme styles for the components.
@include mat.all-component-themes($mclean-theme);

