@use '@angular/material' as mat;

@import 'variables';
@import 'custom-theme.scss';

@include mat.core();

html, body { height: 100%; }
body { 
    margin: 0; 
    // font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-toolbar {
    --mat-toolbar-container-background-color: transparent;
}

.mat-sidenav-container {
    --mat-sidenav-content-text-color: $primary-text-color;
}


h1 {
    color: $header-color;
}

h2 {
    color: $primary-text-color;
}

p {
    color: $primary-text-color;
}

:root {
    --mat-app-text-color: $primary-text-color;
}
