<p>gallery works!</p>,


<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" >
    <a href="assets/img/icecave.png">
        <img alt="img1" src="assets/img/icecave.jfif" />
    </a>
    <a href="assets/img/icecave.png">
        <img alt="img1" src="assets/img/icecave.jfif" />
    </a>
    <a href="assets/img/icecave.png">
        <img alt="img1" src="assets/img/icecave.jfif" />
    </a>
    <a href="assets/img/icecave.png">
        <img alt="img1" src="assets/img/icecave.jfif" />
    </a>
    <a href="assets/img/icecave.png">
        <img alt="img1" src="assets/img/icecave.jfif" />
    </a>
    <a href="assets/img/icecave.png">
        <img alt="img1" src="assets/img/icecave.jfif" />
    </a>
    <a href="assets/img/icecave.png">
        <img alt="img1" src="assets/img/icecave.jfif" />
    </a>
</lightgallery>