.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1400px;

  .gallery-grid {
    margin: 0 auto;
  }

  .gallery-item {
    width: 300px;
  }
}

@media screen and (max-width: 1600px){
  .gallery-container {
    width: 1000px;
  }
}

@media screen and (max-width: 800px){
  .gallery-container {
    width: 800px;
  }
}

@media screen and (max-width: 600px){
  .gallery-container {
    width: 600px;
  }
}
