@import '../../../../styles/variables.scss';

mat-nav-list {
  display: flex;
  flex-direction: column;

}

a {
  text-decoration: none;
  text-align: center;
  color: $header-color;
  padding: 20px 0 20px 6px;
}

a:hover,
a:active {
  color: $subheader-color;
}

.nav-caption {
  display: inline-block;
  color: $header-color;
  padding-left: 6px;
  font-family: "Glacial Indifference";
  font-size: 18px;
  font-weight: bold;
}
