<div class="project-container" *ngIf="project">
  <div class="project-header">
    <h1>
      {{ project.title }}
    </h1>
    <p>
      <small>{{ project.yearWorkedOn }} | {{ project.location }}</small>
    </p>
  </div>

  <mat-divider></mat-divider>
  <div class="project-description">
    <p>{{ project.paragraph1 }}</p>
    <p *ngIf="project.paragraph2">{{ project.paragraph2 }}</p>
    <p *ngIf="project.paragraph3">{{ project.paragraph3 }}</p>
  </div>

  <div class="project-items">
    <div class="iframe-container" *ngFor="let video of videos">
        <iframe
          [src]="safeVideoUrls.get(video.title)"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          class="iframe"
          [title]="video.title"
        >
        </iframe>
      </div>
    <div class="project-image" *ngFor="let item of images">
      <img [src]="item.src" [alt]="item.alt" />
    </div>
  </div>
</div>
