@import '../../../../styles/variables.scss';

$layout-breakpoint-small: 480px;

a {
  text-decoration: none;
  color: $header-color;
}

a:hover,
a:active {
  color: $subheader-color;
}

.home-link {
  font-family: 'Glacial Indifference';
    font-size: 22px;
    font-weight: bold;
}

.navigation-items {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    font-family: 'Glacial Indifference';
    font-size: 18px;
    font-weight: bold;
  }
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

@media (max-width: $layout-breakpoint-small) {
  .hide-extra-small {
    display: none !important;
  }
}

.toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.nav-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

@media (min-width: $layout-breakpoint-small) {
  .hide-above-extra-small {
    display: none;
  }
}
