@import "../../styles/variables.scss";

:host {
  display: block;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;

  .header {
    color: $header-color;
  }

  .subheader {
    color: $subheader-color;
  }
}

.showreel {
  margin-bottom: 40px;
  .showreel-vimeo-container {
    max-width: 1000px;
    margin: auto;
  }
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
